/* Section */

.shield-section {
  padding: 120px 20px;
  position: relative;
  color: #fff;
  overflow: hidden;
}

.shield-bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(4px);
  transform: scale(1.05);
  z-index: 0;
}

/* Overlay */

.shield-overlay {
  position: absolute;
  inset: 0;
  
  z-index: 1;
}


/* Container */

.shield-container {
  max-width: 1200px;
  margin: auto;
  position: relative;
  z-index: 2;
  text-align: center;
}


/* Content */

.shield-content h2 {
  font-size: 46px;
  margin-bottom: 15px;
  font-weight: 700;
}

.shield-content span {
  color: #ffd700;
  text-shadow: 0 0 12px rgba(255, 215, 0, 0.7);
}

.shield-subtitle {
  color: #ddd;
  margin-bottom: 50px;
  font-size: 18px;
}


/* Grid */

.shield-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}


/* Card */

.shield-card {
  background: rgba(255, 255, 255, 0.06);
  padding: 30px 20px;
  border-radius: 18px;
  border: 1px solid rgba(255,255,255,0.15);

  backdrop-filter: blur(5px);

  transition: all 0.4s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  
}


/* Gold Shine */

.shield-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255,215,0,0.25),
    transparent
  );
  opacity: 0;
  transition: 0.4s;
}

.shield-card:hover::before {
  opacity: 1;
}


/* Hover */

.shield-card:hover {
  transform: translateY(-12px) scale(1.05);
  border-color: #ffd700;
  box-shadow: 0 25px 50px rgba(255,215,0,0.4);
  background: rgba(255,215,0,0.08);
}


/* Icon */

.shield-icon {
  font-size: 32px;
  color: #ffd700;
  margin-bottom: 12px;

  transition: all 0.4s ease;
}

.shield-card:hover .shield-icon {
  transform: scale(1.4) rotate(10deg);
  text-shadow: 0 0 18px rgba(255,215,0,1);
}


/* Text */

.shield-card h4 {
  margin-bottom: 8px;
  font-size: 19px;
}

.shield-card p {
  font-size: 14px;
  color: #ddd;
  line-height: 1.6;
}


/* Button */

.shield-btn {
  margin-top: 45px;
  padding: 12px 32px;
  border-radius: 30px;
  border: 1px solid #ffd700;
  background: #ffd700;
  color: #002f55;
  cursor: pointer;
  font-size: 15px;

  transition: all 0.3s ease;
    font-family: "Montserrat", sans-serif;
}

.shield-btn:hover {
  background: #ffd700;
  color: #000;
  box-shadow: 0 0 30px rgba(255,215,0,0.9);
  transform: translateY(-3px);
}


/* Responsive */

@media (max-width: 900px) {

  .shield-grid {
    grid-template-columns: 1fr 1fr;
  }

}

@media (max-width: 500px) {

  .shield-grid {
    grid-template-columns: 1fr;
  }

  .shield-content h2 {
    font-size: 32px;
  }

}
