/* Section */

.ready-section {
  padding: 70px 20px;
  position: relative;
  overflow: hidden;
  isolation: isolate;

  background:
    linear-gradient(
      rgba(15, 68, 111, 0.75),
      rgba(81, 164, 243, 0.9)
    ),
    url("../image/readyhomebg.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    font-family: "Montserrat", sans-serif;
}


/* Container */

.ready-container {
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;

  align-items: center;
  position: relative;
  z-index: 2;
}


/* LEFT */

.ready-left h2 {
  font-size: 42px;
  margin-bottom: 12px;
  color: #ffd700;
}

.ready-subtitle {
  font-size: 21px;
  color: #040303;
  margin-bottom: 35px;
  line-height: 1.6;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
}


/* RIGHT */

.ready-right {
  display: flex;
  justify-content: center;
}


/* Glass Box */

.ready-box {
  width: 100%;
  max-width: 450px;

  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(12px);

  border: 1px solid rgba(8, 0, 255, 0.4);

  border-radius: 20px;

  padding: 30px 25px;

  box-shadow:
    0 20px 40px rgba(30, 18, 245, 0.692),
    0 0 20px rgb(94, 157, 246);

  transition: all 0.4s ease;
}


/* Box Hover */

.ready-box:hover {
  transform: translateY(-8px) scale(1.03);

  box-shadow:
    0 30px 60px rgba(53, 69, 248, 0.827),
    0 0 30px rgba(125, 142, 255, 0.799);
}


/* Points */

.ready-point {
  display: flex;
  align-items: center;
  gap: 14px;

  font-size: 15px;
  color: #fff;

  padding: 12px 10px;

  border-radius: 8px;

  transition: all 0.3s ease;

  cursor: pointer;
  font-weight: 500;
}


/* Line Divider */

.ready-point:not(:last-child) {
  border-bottom: 1px solid rgba(255,255,255,0.2);
}


/* Point Hover */

.ready-point:hover {
  background: rgba(255,215,0,0.12);
  transform: translateX(6px);
}


/* Icon */

.ready-icon {
  font-size: 20px;
  color: #ffd700;
  min-width: 24px;

  transition: 0.3s;
}

.ready-point:hover .ready-icon {
  transform: scale(1.25);
  text-shadow: 0 0 12px gold;
}


/* Button */

.ready-btn {
  padding: 12px 34px;

  border-radius: 40px;
  border: none;

  background: linear-gradient(
    135deg,
    #ffd700,
    #ffb700
  );

  color: #000;

  font-size: 15px;
  font-weight: 600;

  cursor: pointer;

  box-shadow: 0 10px 25px rgba(255,215,0,0.5);

  transition: all 0.3s ease;
}


/* Button Hover */

.ready-btn:hover {
  transform: translateY(-3px) scale(1.05);

  box-shadow:
    0 15px 35px rgba(255,215,0,0.8),
    0 0 25px rgba(255,215,0,0.9);
}


/* Mobile */

@media (max-width: 900px) {

  .ready-container {
    grid-template-columns: 1fr;
  }

  .ready-left {
    text-align: center;
  }

  .ready-box {
    max-width: 100%;
  }

}

