/* Section */
.services-section {
  padding: 80px 20px;
  background: linear-gradient(135deg, #06152b,#3a6596,#b8d9ff,#b1cbe9, #0a2a4f);
  color: #fff;
}

.services-container {
  max-width: 1200px;
  margin: auto;
}

/* Header */

.services-header {
  text-align: center;
  margin-bottom: 60px;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 213, 0);
}

.services-header h2 {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 12px;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(90deg, #ffd700, #ff9f1c);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.services-header p {
  color: #000000;
  font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}


/* Grid */

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}


/* Card */

.service-card {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 18px;
  overflow: hidden;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.1);

  transition: all 0.4s ease;
  cursor: pointer;
  position: relative;
}

.service-card:hover {
  transform: translateY(-12px) scale(1.02);
  box-shadow: 0 25px 50px rgba(0, 140, 255, 0.3);
  border-color: rgba(0,140,255,0.6);
}


/* Image */

.service-img {
  height: 200px;
  overflow: hidden;
  position: relative;
 border-radius: 8px;
}

.service-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: transform 0.6s ease;
}

/* Zoom Effect */
.service-card:hover .service-img img {
  transform: scale(1.15);
}

/* Dark Overlay */

.service-img::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.1),
    rgba(0,0,0,0.6)
  );
}


/* Content */

.service-content {
  padding: 25px;
  color: #000;
}

.service-content h4 {
  font-size: 22px;
  margin-bottom: 10px;
  color: rgb(7, 3, 70);
  font-weight: 700;
}

.services-section .service-card .service-content p {
  font-size: 18px;
  color: #000000;
  line-height: 1.6;
  font-weight: 600;
}


/* Button */

.service-btn {
  margin-top: 18px;
  background: transparent;
  border: 1px solid #00aaff;
  color: #00aaff;

  padding: 8px 18px;
  border-radius: 30px;

  font-size: 14px;
  cursor: pointer;

  transition: all 0.3s ease;
}

.service-btn:hover {
  background: #00aaff;
  color: #000;
  box-shadow: 0 0 15px #00aaff;
}


/* Responsive */

@media (max-width: 768px) {
  .services-header h2 {
    font-size: 32px;
  }

  .service-img {
    height: 180px;
  }
}
